
<div class=" text-[#F8F6F4] bg-[#27374D] absolute bottom-0 w-[100%]" >
    <p class="text-center >&#169; Copyright 2023 - Developed By rawatsaheb. All rights reserved</p>
</div>
</div>

</body>
</html>